body {
    background: #f4f4f5;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    max-width: 400px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #111;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #111;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.voltar {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #444;
}
