* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c29898;
    color: #ffe3e3;
    font-family: 'Inter', sans-serif;
}

.header {
    background: #633f3f;
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 0 40px rgb(255, 233, 233);
}

.header h1 {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.menu {
    max-width: 900px;
    margin: 250px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 0 20px;
}

.menu-card {
    text-decoration: none;
    background: #f1eeee;
    border: 1px solid #e1e1e1;
    padding: 35px 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    color: #333;
    font-weight: 500;
    font-size: 17px;

    transition: all 0.2s ease;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.02);
}

.menu-card i {
    font-size: 30px;
    color: #555;
}

.menu-card:hover {
    transform: translateY(-6px);
    border-color: #bbb;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
}

.menu-card span {
    text-align: center;
}
